.App {
  text-align: center;
  width: 1280px;
}
.main{
  width: 100%;
  display: flex;
}
.shop{
  width: 70%;
}
.kisuna{
  margin-right: 50px;
  padding-left: 10px;
  border: 5px solid rgb(255, 0, 255);
  text-align: left;
}
